<a href="https://colab.research.google.com/github/owenstjames/MIS-2800/blob/main/OwenPrepFebuary2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import sqlite3

In [7]:
conn = sqlite3.connect('NFL_Scouting.db')

In [8]:
cursor = conn.cursor()

print("Database connected successfully")

Database connected successfully

In [15]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS scouting_stats (
    team_name TEXT,
    city TEXT,
    wins INTEGER,
    points_per_game REAL
)
""")
conn.commit()
print("Table created successfully")

Table created successfully

In [18]:
cursor.execute("""
INSERT INTO scouting_stats (team_name, city, wins, points_per_game)
VALUES
    ('Chiefs', 'Kansas City', 11, 29.2),
    ('Bills', 'Buffalo', 10, 26.5),
    ('Cowboys', 'Dallas', 12, 27.8),
    ('Jets', 'New York', 7, 18.6)
""")

conn.commit()
print("Data inserted successfully")

Data inserted successfully

In [19]:
cursor.execute("SELECT * FROM scouting_stats WHERE points_per_game > 24")
results = cursor.fetchall()

print("Teams averaging more than 24 points per game:")
for row in results:
    print(row)

Teams averaging more than 24 points per game:
('Chiefs', 'Kansas City', 11, 29.2)
('Bills', 'Buffalo', 10, 26.5)
('Cowboys', 'Dallas', 12, 27.8)

In [20]:
print("\nStep 5: Teams sorted by wins (highest to lowest):")
cursor.execute("SELECT * FROM scouting_stats ORDER BY wins DESC")
for row in cursor.fetchall():
    print(row)

Step 5: Teams sorted by wins (highest to lowest):
('Cowboys', 'Dallas', 12, 27.8)
('Chiefs', 'Kansas City', 11, 29.2)
('Bills', 'Buffalo', 10, 26.5)
('Jets', 'New York', 7, 18.6)

In [21]:
print("\nStep 6: Teams with more than 5 wins, sorted by city:")
cursor.execute("SELECT * FROM scouting_stats WHERE wins > 5 ORDER BY city ASC")
for row in cursor.fetchall():
    print(row)

Step 6: Teams with more than 5 wins, sorted by city:
('Bills', 'Buffalo', 10, 26.5)
('Cowboys', 'Dallas', 12, 27.8)
('Chiefs', 'Kansas City', 11, 29.2)
('Jets', 'New York', 7, 18.6)

In [22]:
conn.close()
print("\nStep 7: Database connection closed")

Step 7: Database connection closed